body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}
.company-logo
{
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: bold;
color: #4D5AE5;
}
.company-logo span{
color: #2E2F42;
}

.header-nav-one{
font-style: 16px;
list-style-type: none;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-nav-one:hover,
.header-nav-one:focus{
    color: #404BBF;
}
.header-nav:active{
   color: #404BBF;

}
.site-contacts{
list-style-type: none;
font-style: normal;
}
.site-contacts-one
{
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}

.site-contacts-one:hover,
.site-contacts-one:focus {
    color: #404BBF;
}

.section-one{
    background-color: #2E2F42;
}

h1{
color: #FFFFFF;
font-weight: bold;
font-size: 56px; 
line-height: 60px;
}
.footer{
background-color: #2e2f42;
}
.footer-company-logo{
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #4d5ae5;
}
.footer-company-logo-span {
    color: #f4f4fd;
}
.footer-p {
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
}