body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}

.company-logo{

line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: bold;
color: #4D5AE5;
}
.company-logo span{
color: #2E2F42;
}

.header-nav{
font-style: 16px;
list-style-type: none;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-nav:hover{
    color: #404BBF;
}
.header-nav:active{
   color: #404BBF;

}
.site-contacts ul{
list-style-type: none;
}



.section-one {
    /* width: 1440px;
    height: 600px; */
    background-color: #2E2F42;
}
h1{
color: #FFFFFF;
font-weight: bold;
font-size: 56px; 
line-height: 60px;
}
